<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- vue组件 -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <!-- axios -->
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.1.2/axios.min.js"></script>
  <!-- element-ui组件 -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/theme-chalk/index.min.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/index.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>管理列表</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #app {
      padding: 20px;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-card shadow="always">
      <el-row style="margin-bottom: 20px;" type="flex" align="middle" justify="space-between">
        <h3>用户列表</h3>
        <div>
          <el-button type="primary" size="default" @click="sendMessage">发送通知</el-button>
          <el-button type="danger" size="default" @click="multipleStop">停止上课</el-button>
        </div>
      </el-row>
      <el-table :data="userList" stripe border style="width: 100%" @selection-change="selectionChange">
        <el-table-column align="center" type="selection"></el-table-column>
        <el-table-column align="center" width="60px" type="index" label="序号"></el-table-column>
        <el-table-column align="center" prop="name" #default="{row}" label="姓名" width="160px">
          <el-row type="flex" align="middle" justify="center">
            <el-image fit="cover" style="width: 60px; height: 60px;border-radius: 50%;flex-shrink: 0;"
              :src="'https://dhcjgl.o-learn.cn'+row.photoLink"
              :preview-src-list="['https://dhcjgl.o-learn.cn'+row.photoLink]">
            </el-image>
            <div style="margin-left: 10px;text-align: left;">
              <p>{{row.name}}</p>
              <p style="color: #999; font-size: 12px;">{{row.regNo}}</p>
            </div>
          </el-row>
        </el-table-column>
        <el-table-column align="center" prop="email" label="邮件地址"></el-table-column>
        <el-table-column align="center" prop="mobilephone" label="手机号"></el-table-column>
        <el-table-column align="center" prop="orientEdutype" label="专业"></el-table-column>
        <el-table-column align="center" prop="completeClass" label="已完成数量"></el-table-column>
        <el-table-column align="center" prop="classLength" label="剩余数量"></el-table-column>
        <el-table-column align="center" #default="{row}" prop="status" label="状态">
          <el-tag v-if="row.status==0" type="info">未开始</el-tag>
          <el-tag v-if="row.status==1">进行中</el-tag>
          <el-tag v-if="row.status==2" type="success">已完成</el-tag>
          <el-popover v-if="row.status==3" placement="top-end" title="错误信息" width="300" trigger="click"
            :content="row.errorLog || '无'">
            <el-tag slot="reference" type="danger">出错</el-tag>
          </el-popover>

          <el-tag v-if="row.status==4" type="danger">停止上课</el-tag>
          <el-tag v-if="row.status==99" type="warning">内存过载</el-tag>
        </el-table-column>
        <el-table-column align="center" #default="{row}" width="100px" label="(创建/更新)时间">
          <p>{{row.createdAt}}</p>
          <p>{{row.updatedAt}}</p>
        </el-table-column>
        <el-table-column align="center" #default="{row}" label="操作">
          <el-link v-if="row.status==1" type="danger" :underline="false" @click="stop(row.regNo)">停止上课</el-link>
        </el-table-column>
      </el-table>
    </el-card>
    <el-dialog title="发送通知" :visible.sync="sendMessageDialog" width="660px">
      <el-form :model="sendMessageData" ref="form" :rules="rules" label-width="100px" :inline="false">
        <el-form-item label="通知内容：" prop="content">
          <el-input type="textarea" :rows="5" v-model="sendMessageData.content"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer">
        <el-button @click="sendMessageDialog = false">取消</el-button>
        <el-button type="primary" @click="sendMessageSave">确定</el-button>
      </span>
    </el-dialog>
  </div>
</body>
<script>
  new Vue({
    el: '#app',
    data () {
      return {
        userList: <%- JSON.stringify(data.rows) %>,
        sendMessageDialog: false,
        selectionData: [],
        sendMessageData: {
          emailList: [],
          content: ""
        },
        rules: {
          content: [
            { required: true, message: '请输入', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      stop (regNo) {
        this.$confirm(`此操作将停止上课, 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.request({
            url: "/api/class/updateStatusByRegNo",
            method: "post",
            data: {
              regNo,
              status: 4
            }
          }).then(({ data }) => {
            if (data) {
              this.$message.success('操作成功！')
              window.location.reload()
            } else {
              this.$message.error('操作失败！')
            }
          }).catch(() => {
            this.$message.error('操作失败！')
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });
        });
      },
      multipleStop () {
        if (
          !this.selectionData ||
          this.selectionData.length === 0
        ) {
          this.$message.error("请选择操作对象")
          return
        }
        this.$confirm(`此操作将停止上课, 是否继续?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.request({
            url: "/api/class/stopByRegNoMultiple",
            method: "post",
            data: {
              regNoList: this.selectionData.map(item => item.regNo),
              status: 4
            }
          }).then(({ data }) => {
            if (data) {
              this.$message.success('操作成功！')
              window.location.reload()
            } else {
              this.$message.error('操作失败！')
            }
          }).catch(() => {
            this.$message.error('操作失败！')
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          });
        });
      },
      selectionChange (data) {
        this.selectionData = data || []
      },
      sendMessage () {
        if (
          !this.selectionData ||
          this.selectionData.length === 0
        ) {
          this.$message.error("请选择收件人")
          return
        }
        this.sendMessageDialog = true
        this.sendMessageData = {
          content: ""
        }
      },
      sendMessageSave () {
        this.$refs.form.validate((flag) => {
          if (flag) {
            this.sendMessageData.emailList = this.selectionData.map(item => item.email)
            axios.request({
              url: "/api/class/sendMessage",
              method: "post",
              data: this.sendMessageData
            }).then(({ data }) => {
              if (data) {
                this.$message.success('发送成功！')
                window.location.reload()
              } else {
                this.$message.error('发送失败！')
              }
            }).catch(() => {
              this.$message.error('发送失败！')
            })
          }
        })
      }
    }
  })
</script>

</html>